<div class="text-center ">
    <img class="rounded-circle" style="width:100%" src="{{avatar_url}}">
    <h2>{{login}}</h2>
    <span class="badge badge-info">Id Usuario : {{id_usuario}}</span>
    <br>

    <div *ngIf="url">
        <a class="btn btn-dark btn-block" href="{{url}}" target="_blank" role="button">Ver Perfil »
            <span class="fa fa-github" aria-hidden="true"></span>
         </a>
    </div>

    <div *ngIf="!url">
        <a class="btn btn-danger" [routerLink]="['/usuario_repositorio', login]" role="button">Ver Repositorios  »
                <span class="fa fa-github" aria-hidden="true"></span>
             </a>
    </div>
</div>