<div class="row">
    <h2>Listagem de Triagem</h2>
    <hr>
</div>

<div class="col-sm-12 ">
    <a class="btn btn-success pull-right" [routerLink]="['/cadastra-triagem']" role="button"> <span class='glyphicon glyphicon-plus'></span> Cadastrar Processo
    </a>
</div>

<div class="row">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Processo</th>
                <th>Candidatos</th>
                <th>Pontos</th>
                <td>Opções</td>
            </tr>
        </thead>
        <tbody *ngFor="let triagem of triagens; let indice = index">
            <tr>
                <th scope="row">{{triagem.id}}</th>
                <td>{{triagem.processo.nome}}</td>
                <td>{{triagem.candidatos.length}}</td>
                <td>{{triagem.processo.tecnologias.length}}</td>
                <td>
                    <a class="btn btn-primary" [routerLink]="['/cadastra-triagem', triagem.id]" role="button">
                        <span class='glyphicon glyphicon-pencil'></span>
                    </a>

                    <a class="btn btn-danger" (click)="excluir(triagem.id, indice)" role="button">
                        <span class='glyphicon glyphicon-trash'></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>