<div class="jumbotron">
    <h1 class="text-center">GitHub</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form>

                <input #textoFiltro (keyup)="0" class="form-control" placeholder="Pesquisar Usuario">
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-3" *ngFor="let usuario of usuarios">

            <h3 class="text-center">{{usuario.login| uppercase}}</h3>
            <usuario avatar_url="{{usuario.avatar_url}}" id_usuario=" {{usuario.id}}" repositorio="{{usuario.repos_url}}">
            </usuario>

        </div>
    </div>
</div>