<div class="row">
    <div class="col-md-10">
        <h1 class="text-capitalize">{{usuario.name}}</h1>
        <h6 class="text-capitalize font-weight-light">{{usuario.login}}</h6>
    </div>

    <div class="col-md-2">
        <a class="btn btn-danger" [routerLink]="['/']" role="button"> Voltar </a>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-md-3">
        <usuario avatar_url="{{usuario.avatar_url}}" id_usuario=" {{usuario.id}}" url="{{usuario.html_url}}">
            Carregando...
        </usuario>
    </div>
    <br>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success">
            Repositorios <span class="badge badge-light">{{usuario.public_repos}}</span>
        </button>
                <button type="button" class="btn btn-danger">
            Gits <span class="badge badge-light">{{usuario.public_gists}}</span>
        </button>
                <button type="button" class="btn btn-info">
            Seguidores <span class="badge badge-light">{{usuario.followers}}</span>
        </button>
                <button type="button" class="btn btn-secondary">
            Seguindo <span class="badge badge-light">{{usuario.following}}</span>
        </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Detalhes
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Localização: {{usuario.location ? usuario.location: ' - '}}</li>
                        <li class="list-group-item">Email:
                            <a href="mailto: {{usuario.email? usuario.email : ''}}">{{usuario.email ? usuario.email : ' - '}}</a> </li>
                        <li class="list-group-item">Blog:
                            <a href="{{usuario.blog ? usuario.blog : ''}}" target="_blanck">{{usuario.blog ? usuario.blog : ' - '}}</a>
                        </li>
                        <li class="list-group-item">Usuario desde: {{usuario.created_at | date: 'dd/MM/yyyy'}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<h3 class="page-header"> Repositorios</h3>
<hr>
<div *ngIf="repositorios.length != 0" class="row">
    <div class="card-deck">
        <div class="col-md-6" *ngFor="let repositorio of repositorios">
            <repositorio id="{{repositorio.id}}" nome="{{repositorio.name}}" descricao="{{repositorio.description}}" url="{{repositorio.html_url}}" data_criacao="{{repositorio.created_at}}" clone_url="{{repositorio.clone_url}}" stars="{{repositorio.stargazers_count}}"
                watchers="{{repositorio.watchers_count}}" linguagem="{{repositorio.language}}" forks="{{repositorio.forks_count}}" branch="{{repositorio.default_branch}}">
                Carregando
            </repositorio>
            <br>
        </div>
    </div>

    <div *ngIf="service.header_link" class="col-sm-12">
        <button (click)="obterMaisRepositorios()" type="button" class="btn btn-primary btn-block"> + Carregar mais</button>
    </div>
</div>
<div *ngIf="repositorios.length == 0" class="alert alert-danger" role="alert">
    <strong>Poxa vida!</strong> O usuario não possui nenhum repositório;
</div>